[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"
yapf = "*"

[packages]
flask-wtf = "*"
flask-oauthlib = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
bleach = "*"
flask-socketio = "*"
markdown = "*"
eventlet = "*"
faker = "*"
flask-mail = "*"
redis = "==2.10.5"
flask-redis = "*"
amqp = "==1.4.9"
celery = "==3.1.18"

[requires]
python_version = "3.5"
